<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/ikona.jpg') }}" type="image/icon">
  <title>Accounting Šormaz DOO</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Početna</a></li>
            <li><a href="{{ url_for('service_application') }}" data-after="Service">Usluge</a></li>
            <li><a href="#about" data-after="About">O nama</a></li>
            <li><a href="#contact" data-after="Contact">Kontakti</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Accounting Šormaz DOO<span></span></h1>
        <h2>"Mi ne gledamo u budućnost, mi joj idemo u susret!"<span></span></h2>
        <a href="{{ url_for('service_application') }}" type="button" class="cta">Usluge</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="">
        <h1 class="section-title">Šta je knjigovodstvo?</h1>
        <p id="objasnjenje">Knjigovodstvo je evidentiranje finansijskih (poslovnih) promena. Pod tim promenama se
          podrazumevaju prodaja, kupovina,
          prihodi i rashodi od strane fizičkog ili pravnog lica, odnosno poslovne promene visine i/ili strukturu imovine
          i
          kapitala. Knjigovodstvo obično obavlja knjigovođa. Pojam knjigovodstva ne treba mešati sa pojmom
          računovodstva.
          Računovodstvom se obično bave računovođe koje koriste knjigovodstvene podatke i izveštaje za svoj rad. Zbog
          toga se kaže
          da je knjigovodstvo računska osnova računovodstva jer ono obezbeđuje podatke koji se primenjuju u preostalim
          delovima
          računovodstva.

          Evidentiranje finansijskih promena može se vršiti po metodi prostog ili dvojnog knjigovodstva. Svaka promena
          finansijske
          prirode mora se proknjižiti.

          Knjigovođa (u nekim zemljama računovodstveni tehničar ili računovodstveni službenik) je osoba koja beleži
          finansijske
          promene na dan njihovog nastanka. Oni prate knjigovodstvene isprave pod kojim se podrazumevaju ulazne i
          izlazne fakture,
          dnevne izveštaje banke, glavne i pomoćne blagajne i svi obračuni i odluke poslovanja. Finansijski izveštaji
          podnose se
          nadležnim državnim institucijama do zakonski utvrđenog datuma.</p>

        <br><br>
        <button type="button" id="usluge" onclick="window.location.href='index2.html'"
          class="btn-success">Usluge</button>
        <button type="submit" id="prijava" class="btn-primary"
          onclick="window.location.href='index3.html'">Prijava</button>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"  alt=""/></div>
          <h2>Usluge</h2>
          <p>Paušalno oporezivanje, preduzetništvo, preduzetnici koji su u sistemu pdv-a preduzetnici koji nisu u
            sistemu pdv-a, DOO, prijave i odjave radnika, završni računi se dodatno plaćaju.</p> <br><br>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"  alt=""/></div>
          <h2>Knjigovođe</h2>
          <p>Jelena Šormaz <br>jsormaz@yahoo.com <br>Telefon: +381 69 110 59 48 <br><br>Ivana Prtina
            <br>ivanadamjanac@gmail.com <br>Telefon: +381 60 355 22 52
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt=""/></div>
          <h2>Kako se prijaviti?</h2>
          <p>Pritiskom na dugme PRIJAVA, sajt će vas poslati na formu za prijavu. Tamo unesite podatke koje smo
            naznačili, pa pritiskom na dugme POŠALJI, vaši podaci će biti poslati na e-mail knjigovodstvene firme.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt=""/></div>
          <h2>Lokacija</h2>
          <p>Naša kancelarija se nalazi u Zemunu, u ulici Novogradska 51v. <br><br> Vidimo se!</p> <br><br><br>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Komentari klijenata</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Klijent 1</h1>
            <h2>Preduzetnik/ca</h2>
            <p>Izuzetno sam zadovoljan radom knjigovođa, sve preporuke!</p>
          </div>
          <div class="project-img">
            <img src="{{ url_for('static', filename='img/zadovoljan klijent 2.jpg') }}">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Klijent 2</h1>
            <p>Izuzetno iskusne knjigovođe, izuzetno sam zadovoljan njihovim radom!</p>
          </div>
          <div class="project-img">
            <img src="{{ url_for('static', filename='img/zadovoljan klijent 1.jpg') }}" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Klijent 3</h1>
            <p>Zaista nisam pogrešio kada sam odabrao ovu knjigovodstvenu firmu. Knjigovođe su izuzetno prijatne prema
              Vama i ako Vi njih poštujete, one će i Vas ispoštovati. Izuzetno sam zadovoljan!</p>
          </div>
          <div class="project-img">
            <img src="{{ url_for('static', filename='img/bckrd.jpg') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{{ url_for('static', filename='img/ikona.jpg') }}" alt="">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">O <span>nama</span></h1>
        <h2></h2>
        <p style="font-size: medium;">
          Accounting Šormaz DOO je firma koja se bavi knjigovodstvom i finansijskim savetovanjem sa ciljem da svojim
          klijentima na
          jednom mestu pruži najveći spektar usluga. Naš stručni tim će Vam pomoći da vaše poslovanje podignemo na viši
          nivo, a da
          vaš poslovni plan i analiza poslovanja bude usmerena ka ostvarenju zacrtanih ciljeva.

          Osnivanje preduzeća brzo i jednostavno
          Za sve buduće klijente , naša knjigovodstvena agencija nudi usluge savetovanja u vezi registracije osnivanja
          preduzeća
          (upisa u apr) i vrši pripremu potrebne dokumentacije.

        <ul style="font-size: medium;">
          U zavisnosti od Vaših potreba, vršimo sledeće knjigovodstvene usluge:
          <li>vođenje poslovnih knjiga po sistemu dvojnog knjigovodstva</li>
          <li>vođenje analitičkih evidencija: osnovna sredstva, zalihe, kupci,dobavljači, obračun amortizacije;</li>
          <li>vođenje blagajne;</li>
          <li>vođenje robnog knjigovodstva, veleprodaja-maloprodaja;</li>
          <li>vođenje knjiga ulaznih i izlaznih računa (KPR i KIR);</li>
          <li>vođenje kompletnih poreskih evidencija;</li>
          <li>izrada periodičnih i godišnjih izveštaja;</li>
          <li>razne druge knjigovodstvene usluge po želji klijenta;</li>
          <li>izrada svih vrsta statističkih izveštaja;</li>
          <li>izrada završnih računa;</li>
          <li>obračun,knjiženje I izrada završnog računa za proizvodnju</li>
          </p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Kontakt <span>informacije</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" alt=""/></div>
          <div class="contact-info">
            <h1>Telefoni</h1>
            <h2>Jelena Šormaz</h2>
            <h4>+381 69 404 3433</h4>
            <h2>Ivana Prtina</h2>
            <h4>+381 60 355 22 52</h4>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" alt=""/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>Jelena Šormaz</h2>
            <h3>jsormaz@yahoo.com</h3>
            <h2>Ivana Prtina</h2>
            <h3>ivanadamjanac@gmail.com</h3>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" alt=""/></div>
          <div class="contact-info">
            <h1>Adresa</h1>
            <h2>Novogradska 51v, Zemunu</h2>
            <p>Čekamo Vas!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  <button onclick="topFunction()" id="btn" title="Go to top">▲</button>
  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1>Accounting Šormaz DOO</h1>
      </div>
      <h2>Drustvene mreze</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://facebook.com"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" alt=""/></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" alt=""/></a>
        </div>

      </div>

    </div>
  </section>
  <script src="{{ url_for('static', filename='/JS/index.js') }}"></script>
</body>

</html>
