<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login stranica</title>
    <style>
        span {
            color: red;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <h1>Login stranica</h1>

    <form action="" method="POST">
        <span>
            {{greska}}
        </span>
        <p>
            <label for="">Email</label>
            <input type="text" name="email" id="">
        </p>

        <p>
            <label for="">Unesite password</label>
            <input type="password" name="password" id="">
        </p>

        <p>
            <input type="submit" value="Login">
        </p>

    </form>
</body>
</html>