<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Registracija korisnika</h1>

    <form action="" method="POST">
        <span>{{greska}}</span>
        <p>
            <label for="">Unesite ime i prezime</label>
            <input type="text" name="ime_prezime" id="">
        </p>

        <p>
            <label for="">Unesite email</label>
            <input type="text" name="email" id="">
        </p>

        <p>
            <label for="">Unesite password</label>
            <input type="password" name="password" id="">
        </p>

        <p>
            <label for="">Unesite potvrdu sifre</label>
            <input type="password" name="confirm_password" id="">
        </p>

        <p>
            <button>Registracija</button>
        </p>

    </form>
</body>
</html>