<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default page</title>
</head>
<body>
    <h1>Page example</h1>

    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nemo incidunt voluptate nobis deserunt tempora! Incidunt magnam nulla consectetur, temporibus debitis repudiandae aspernatur itaque praesentium consequatur ipsam dolore pariatur saepe molestias, asperiores doloribus rerum nisi officiis! Eligendi dicta nostrum magnam non fugit iure nam. Sed numquam vero inventore iure fugiat?</small>

    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur doloremque provident sapiente explicabo autem qui recusandae quidem reiciendis. Et iusto numquam enim laudantium nesciunt amet beatae accusantium minima laborum debitis.</h5>
</body>
</html>